.gea_flex_end {
    display: flex;
    justify-content: flex-end;
}

.img_prop {
    border-radius: 10px;
    width: 10vw;
    height: auto;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: 0.2em 0.8em;
    font-weight: 600;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.custom-file-upload a:link,
.custom-file-upload a:hover {
    color: #000;
}

.custom-file-upload {
    color: #000;
    background-color: #aabfc8;
}

.custom-file-upload:hover {
    background-color: #839ba5;
    color: #000;
}
