.registerPageImgA img{
	height: 80%;
	width: 100%;
	max-height: 425px;
}

.registerPageImgB img{
	height: 425px;
	width: 100%;
	max-height: 500px;
}


.fundo {
    background-image: url("/img/uni.jpg");
	opacity: 0.7;
}

.tituloSeccaoLoginA {
	font-size: 3.3rem;

}


